extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    canvas(id="canvas" height="500", width="1000")
  div
    form
      label(for="shape") Choose Shape:
      select(id="shape" name="shape")
        option(id="rectangle" name="rectangle") Square
        option(id="square" name="square") Rectangle
        option(id="circle" name="circle") Circle
      label(for="color") Choose Color:
      input(type="color" name="color" id="color") 
      label(for="width") Width
        input(type='range', min='0', max='400' id="width")
      button(type="button" name="random" id="random" ) Random Output
      button(type="button" name="clear" id="clear" ) Clear
      button(type="button" name="randomC" id="randomC" ) Random Color
      button(type="button" name="reset" id="reset" ) Reset Color
      
          
